.login, .register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 80%;

    border-radius: 1rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.login--backgroundImage {
    background-image: url('/assets/LoginBG.jpg');
}

.register--backgroundImage {
    background-image: url('/assets/RegisterBG.jpg');
}

.login::backdrop, .register::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.login__close, .register__close {
    position: absolute;
    left: 90%;
    top: 5%;

    cursor: pointer;

    font-size: var(--primary-font-size);

    font-weight: var(--primary-font-family);

    background-color: black;
    color: white;

    padding: 0.5rem 0.8rem;

    border-radius: 50%;

    transition: transform 0.2s ease;
}

.login__close:hover {
    transform: scale(1.2);
}

.login__container, .register__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 100%;
}

.login__img {
    max-height: 250px;
    max-width: 250px;
}

.login__username, .login__password, .register__name, .register__password, .register__repeatPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
}

.login__label, .register__label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;

    min-width: 30%;

    color: var(--very-light-purple);
}

.login__input, .register__input {
    height: 2rem;
    width: 100%;

    padding: 0.5rem;
}

.login__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    width: 40%;
}

.login__login, .login__register, .login__forgot, .register__register {
    cursor: pointer;

    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
}

.login__login, .register__register {
    padding: 0.5rem 2rem;

    background-color: black;
    color: var(--very-light-purple);

    border: none;
    border-radius: 0.5rem;
}

.login__register, .login__forgot {
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 800px) {
    .login__img {
        max-height: 100px;
    }

    .login__username, .login__password, .login__actions, .register__name, .register__password, .register__repeatPassword {
        flex-direction: column;
    }

    .login__actions {
        gap: 1rem;
    }
}