.information {
    margin: 10rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5rem;
}

.information__heading {
    color: var(--very-light-purple);
}

.information__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.information__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    width: 300px;

    text-align: center;

    padding-left: 1rem;     
}

.information__icon {
    color:  var(--very-light-purple);

    font-size: 30px;
}

.information__text {
    color: var(--very-light-purple);
}