.profileInfo {
    height: 50vh;
    width: 100%;

    margin: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: -1;
}

.profileInfo__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileInfo__picture {
    height: 200px;
}

.profileInfo__password {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileInfo__username, .profileInfo__passwordText, .profileInfo__revealPassword, .profileInfo__creationDate {
    color: var(--very-light-purple);

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: var(--primary-font-size);
}

.profileInfo__revealPassword {
    padding: 0.2rem 0.5rem;

    border-radius: 0.2rem;

    background-color: black;

    cursor: pointer;
}

.profileInfo__revealPassword:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 800px) {
    .profileInfo {
        flex-direction: column;
        justify-content: center;

        margin: 0;

        width: 100%;
    }

    .profileInfo__info {
        text-align: center;
    }

    .profileInfo__picture {
        width: 100px;
        height: 100px;
    }

    .profileInfo__password {
        gap: 0;

        width: 100%;
    }

    .profileInfo__revealPassword {
        font-size: var(--secondary-font-size);

        padding: 0.1;
    }

    .profileInfo__username, .profileInfo__passwordText, .profileInfo__creationDate {
        font-size: var(--secondary-font-size);
    }
}