.profileInfo {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.profileInfo__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileInfo__picture {
    height: 200px;
}

.profileInfo__password {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileInfo__username, .profileInfo__passwordText, .profileInfo__revealPassword, .profileInfo__creationDate {
    color: var(--very-light-purple);

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

.profileInfo__revealPassword {
    padding: 0.2rem 0.5rem;

    border-radius: 0.2rem;

    background-color: black;

    cursor: pointer;
}

.profileInfo__revealPassword:hover {
    transform: scale(0.9);
}