@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('./css/navigationHeader.css');
@import url('./css/cards.css');
@import url('./css/information.css');
@import url('./css/credentials.css');
@import url('./css/profile.css');
@import url('./css/slider.css');

:root {
    --primary-font-size: 16;
    --secondary-font-size: 12;

    --primary-font-weight: Bold;
    --Secondary-font-weight: Normal;

    --very-light-purple: #F6CEFC;
    --light-purple: #635985;
    --purple: #443C68;
    --dark-purple: #393053;
    --very-dark-purple: #18122B;
    --dark-gray: #111;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, var(--dark-purple), var(--very-dark-purple));
}

.show {
    display: flex;   
}